<div class="row" [formGroup]="contactForm">
    <!-- Contact Details -->
    <div class="col-md-12">
        <div class="header row">
            <h1 class="col section-header">Contact Details of Parents/Guardians, Other Contacts</h1>
        </div>

        <div class="row">
            <div class="col">
                <p>The College requires two contacts for each student.</p>
            </div>
        </div>

        <div formArrayName="contacts">
            <div *ngFor="let contact of contacts.controls; let i = index" [formGroupName]="i">
                <div class="row">
                    <h2 class="col section-header">Contact {{ i + 1 }}</h2>
                </div>

                <div class="row form-group">
                    <label for="contact-{{ i + 1 }}-contactType" class="col-sm-4 control-label">Contact Type/Relation:</label>
                    <div class="col-sm-8">
                        <contact-type-selection class="form-control" id="contact-{{ i + 1 }}-contactType" formControlName="contactTypeId"></contact-type-selection>
                        <div *ngIf="contact.get('contactTypeId')?.invalid" class="alert alert-danger">
                            <div *ngIf="contact.get('contactTypeId')?.errors?.required">Contact Type/Relation is required.</div>
                        </div>
                    </div>
                </div>

                <div class="row form-group">
                    <label for="contact-{{ i + 1 }}-title" class="col-sm-4 control-label">Title:</label>
                    <div class="col-sm-8">
                        <title-selection class="form-control" id="contact-{{ i + 1 }}-title" formControlName="titleId"></title-selection>
                        <div *ngIf="contact.get('titleId')?.invalid" class="alert alert-danger">
                            <div *ngIf="contact.get('titleId')?.errors?.required">Title is required.</div>
                        </div>
                    </div>
                </div>

                <div class="row form-group">
                    <label for="contact-{{ i + 1 }}-firstName" class="col-sm-4 control-label">First Name: <span class="hidden glyphicon glyphicon-info-sign" uib-tooltip="This is your legal first name."></span></label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="First Name" id="contact-{{ i + 1 }}-firstName" formControlName="firstName" [value]="contact.get('firstName')?.value | titlecase"/>
                        <div *ngIf="contact.get('firstName')?.invalid" class="alert alert-danger">
                            <div *ngIf="contact.get('firstName')?.errors?.required">First name is required.</div>
                        </div>
                    </div>
                </div>

                <div class="row form-group">
                    <label for="contact-{{ i + 1 }}-surname" class="col-sm-4 control-label">Surname:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="contact-{{ i + 1 }}-surname" placeholder="Surname" personName formControlName="surname" [value]="contact.get('surname')?.value | titlecase"/>
                        <div *ngIf="contact.get('surname')?.invalid" class="alert alert-danger">
                            <div *ngIf="contact.get('surname')?.errors?.required">Surname is required.</div>
                        </div>
                    </div>
                </div>

                <div class="row form-group">
                    <label for="contact-{{ i + 1 }}-home" class="col-sm-4 control-label">Home Telephone:</label>
                    <div class="col-sm-8">
                        <input type="tel" class="form-control" id="contact-{{ i + 1 }}-home" placeholder="Home Telephone" formControlName="home" />
                        <div *ngIf="contact.get('home')?.invalid " class="col-off-md-4 alert alert-danger">
                            <div *ngIf="contact.get('home')?.errors?.minlength">The phone number entered must be at least 11 numbers long.</div>
                            <div *ngIf="contact.get('home')?.errors?.maxlength">The phone number entered must be at most 15 numbers long.</div>
                            <div *ngIf="contact.get('home')?.errors?.pattern">The phone number entered should be numbers only. Do not use spaces.</div>
                        </div>
                    </div>
                </div>

                <div class="row form-group">
                    <label for="contact-{{ i + 1 }}-mobile" class="col-sm-4 control-label">Mobile Telephone:</label>
                    <div class="col-sm-8">
                        <input type="tel" class="form-control" id="contact-{{ i + 1 }}-mobile" placeholder="Mobile Telephone" formControlName="mobile" />
                        <div *ngIf="contact.get('mobile')?.invalid " class="col-off-md-4 alert alert-danger">
                            <div *ngIf="contact.get('mobile')?.errors?.minlength">The phone number entered must be at least 11 numbers long.</div>
                            <div *ngIf="contact.get('mobile')?.errors?.maxlength">The phone number entered must be at most 15 numbers long.</div>
                            <div *ngIf="contact.get('mobile')?.errors?.pattern">The phone number entered should be numbers only. Do not use spaces.</div>
                        </div>
                    </div>
                </div>

                <div *ngIf="contact.errors" class="row form-group">
                    <div *ngIf="contact.errors?.requireAtLeastOne" class="col-sm-8 offset-sm-4 alert alert-warning" [ngClass]="{'alert-danger': true}">
                        {{ contact.errors?.requireAtLeastOne.message }}
                    </div>
                </div>


                <div class="row form-group">
                    <label for="contact-{{ i + 1 }}-email" class="col-sm-4 control-label">Email:</label>
                    <div class="col-sm-8">
                        <input type="email" class="form-control" id="contact-{{ i + 1 }}-email" placeholder="Email" formControlName="email" />
                        <div *ngIf="contact.get('email')?.invalid" class="alert alert-danger">
                            <div *ngIf="contact.get('email')?.errors?.required">An email address is required.</div>
                            <div *ngIf="contact.get('email')?.errors?.pattern">Must be a valid email address.</div>
                        </div>
                    </div>
                </div>

                <div class="row form-group">
                    <label for="contact-{{ i + 1 }}-confirm-email" class="col-sm-4 control-label">Confirm Email:</label>
                    <div class="col-sm-8">
                        <input type="email" class="form-control" id="contact-{{ i + 1 }}-confirm-email" placeholder="Confirm Email" formControlName="confirmEmail" />
                        <div *ngIf="contact.get('confirmEmail')?.invalid" class="alert alert-danger">
                            <div *ngIf="contact.get('confirmEmail')?.errors?.required">An email address is required.</div>
                            <div *ngIf="contact.get('confirmEmail')?.errors?.pattern">Must be a valid email address.</div>
                        </div>
                    </div>
                </div>

                <div *ngIf="contact.errors" class="row form-group">
                    <div *ngIf="contact.errors?.fieldsMatch" class="col-sm-8 offset-sm-4 alert alert-warning" [ngClass]="{'alert-danger': true}">
                        {{ contact.errors?.fieldsMatch.message }}
                    </div>
                </div>

                <div class="row form-group">
                    <label for="contact-{{ i + 1 }}-contactable" class="col-sm-4 control-label">Contactable:</label>
                    <div class="col-sm-3">
                        <input type="checkbox" class="form-control" id="contact-{{ i + 1 }}-contactable" formControlName="contactable" />
                    </div>
                    <div class="col-sm-5">
                        Tick if you are happy for this person to be contacted by the college.
                    </div>
                </div>

                <div class="row form-group">
                    <label for="contact-{{ i + 1 }}-preferred" class="col-sm-4 control-label">Preferred Contact:</label>
                    <div class="col-sm-3">
                        <input type="checkbox" class="form-control" id="contact-{{ i + 1 }}-preferred" formControlName="preferred" />
                    </div>
                    <div class="col-sm-5">
                        Tick if this is your preferred contact for college communication (reports, payments, day-to-day information).
                    </div>
                </div>

                <div class="row form-group">
                    <label for="contact-{{ i + 1 }}-sameAddress" class="col-sm-4 control-label tinted">Lives at same address as applicant:</label>
                    <div class="col-sm-3">
                        <input type="checkbox" class="form-control" id="contact-{{ i + 1 }}-sameAddress" formControlName="sameAddress" />
                    </div>
                    <div class="col-sm-5">
                        Tick if applicable.
                    </div>
                </div>

                <div *ngIf="contact.errors" class="row form-group">
                    <div *ngIf="contact.errors?.requiredIfNotChecked" class="col-sm-8 offset-sm-4 alert alert-warning" [ngClass]="{'alert-danger': true}">
                        This contact has been set as not living at the same address as the applicant. This means that you must supply an address for the contact, please complete below.
                    </div>
                </div>

                <div class="header row" *ngIf="contact.get('sameAddress')?.value !== true">
                    <h2 class="col section-header">Address for Contact {{ i + 1 }}</h2>
                </div>

                <div *ngIf="contact.get('sameAddress')?.value !== true">
                    <address-form id="contact-{{ i + 1 }}-address" idSuffix="contact-{{ i + 1 }}-" formControlName="address"></address-form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="debug invisible">
    <button (click)="debugOutput()">Debug Info</button>
</div>
