<div class="row">
    <!-- Introduction -->
    <div class="col-md-12">
        <div class="header row">
            <h1 class="col section-header">Introduction</h1>
        </div>
        <div class="row">
            <div class="col">
                <p>
                    <strong>Applying for a place at Reigate College</strong>
                </p>
                <p>
                    Thank you for applying for a place at Reigate College.
                </p>
                <p>
                    <strong>PLEASE DO NOT START YOUR APPLICATION UNLESS YOU HAVE ALL THE INFORMATION LISTED BELOW, AS YOU WILL NOT BE ABLE TO SAVE YOUR APPLICATION PART WAY THROUGH:</strong>
                </p>
                <ol>
                    <li>Student’s date of birth, mobile number and personal email address</li>
                    <li>Contact details of two parents or guardians (or where this is not possible one parent or guardian and one additional contact), including mobile numbers and personal email addresses</li>
                    <li>The three (or four) A Level or equivalent courses you are currently considering studying. You will be able to change your choices at a later date if you need to. Please see the <a href="https://www.reigate.ac.uk/our-courses/our-courses-a-to-z/" target="_blank">A to Z course finder</a></li>
                </ol>
                <p>
                    PLEASE NOTE, YOU WILL NOT BE ABLE TO MAKE ANY AMENDMENTS TO YOUR APPLICATION ONCE IT IS SUBMITTED.
                </p>
                <p>
                    <strong>Admissions Policy</strong>
                </p>
                <p>
                    Please check the College’s <a href="https://www.reigate.ac.uk/admissions/apply/admissions-policy-and-faqs/" target="_blank">Admissions Policy</a> before completing your application.
                </p>
                <p><strong>What's next?</strong></p>
                <p>
                    Once you have submitted your application, if you are invited for interview, you will be asked to upload your latest school reports, that give an indication of your predicted grades. Instructions about how to do this will be emailed to you with your interview invitation.
                </p>
                <p>
                    Our Admissions Department will request a reference from your school, that covers your: suitability for Level 3 courses, attitude to learning and attendance. It will also cover any SENs and EHCPs.
                </p>
                <p>
                    <strong>College communications</strong>
                </p>
                <p>
                    The College uses email as the main way of contacting applicants/parents/guardians. Please therefore make sure the email details you supply are correct.
                </p>
                <p>
                    <strong>Data use</strong>
                </p>
                <p>
                    The data you provide will only be used to process your application to the College. Data will then be transferred to the College’s Current Student database if you enrol at the College and will remain there while you are a student.
                </p>
                <p>
                    For more detailed information about how your data will be stored and processed, please see <a href="https://www.reigate.ac.uk/reigate-portal/communications-policies-and-procedures/" target="_blank">www.reigate.ac.uk</a>.
                </p>
            </div>
        </div>
    </div>
</div>
